In [1]:
# while loop while-else
joining_age=25
while joining_age<=60:
    print(joining_age)
    joining_age=joining_age+1
    
else:
    print("Its time for retirement")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
Its time for retirement

In [2]:
### Atm machine with 1000 rs
total_amount=1000
while total_amount!=0:
    print(total_amount)
    total_amount=total_amount-100
else:
    print("Put more money bank people")
    
print("Hello All")

1000
900
800
700
600
500
400
300
200
100
Put more money bank people
Hello All

In [7]:
lst=["Krish",1,2,3,4,"apple","banana"]
type=(lst)

In [11]:
fruits_list = "Mango","Cherry","Apple","Papaya","Banana"
for a in fruits_list:
    print(a)
    if a=="Cherry":
        print("The fruit is cherry")

Mango
Cherry
The fruit is cherry
Apple
Papaya
Banana

In [9]:
fruit='Mango'
for x in fruit:
    print(x)

M
a
n
g
o

In [12]:
fruit[2]

'n'

In [14]:
## range 
for i in range(1,10):
    print (i)

1
2
3
4
5
6
7
8
9

In [16]:
for i in range(0,7,2):
    print(i)

0
2
4
6

In [24]:
##nested loops
n=7

for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")

*
**
***
****
*****
******
*******

In [21]:
n=7

for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")

*
**
***
****
*****
******
*******

In [31]:
## Loop Controls
## Break and Continue
fruits_list= "mango", "cherry", "apple", "papaya", "banana"
for i in fruits_list:
    if i=="apple":
        print("the fruit is apple")
    break
print(i)

mango

In [42]:
##continue
fruits_list = ["Mango","Cherry","Apple","Papaya","Banana"]
for i in fruits_list:
    if i=="Apple":
        print("The fruit is apple")
        continue
    print(i)

Mango
Cherry
The fruit is apple
Papaya
Banana

In [37]:
fruits_list= ["mango", "cherry", "apple", "papaya", "banana"]
for i in fruits_list:
    if i=="apple":
        print("the fruit is apple")
    break
print(i)

mango

In [39]:
fruits_list= ["mango", "cherry", "apple", "papaya", "banana"]
for i in fruits_list:
    if i=="Apple":
        print("The fruit is apple")
        break
    print(i)

mango
cherry
apple
papaya
banana

In [43]:
## If Statements
age=18
if age>=18:
    print("You are eligible to vote")

You are eligible to vote

In [44]:
## If Statements
age=17
if age<18:
    print("You are not eligible to vote")

You are not eligible to vote

In [46]:
##Task
## Take a input of age
## check whether age >=18 and age<=45
## display a message you are young blood

age=int(input("Enter the age"))
if  age>=18 and age <=45:
    print("You are young blood")

Enter the age25
You are young blood

In [48]:
## if else satetements
age=int(input("Enter the age"))
if  age>=18 and age <=45:
    print("You are young blood")
else:
    print("Thank you your we will let you know")

Enter the age50
Thank you your we will let you know

In [49]:
## mall - input the product price
## product >1000 rs 20% off
## print the product price after removing the discount
## product <=1000 rs 30% off
## print the product price after removing the discount

product_price=int(input("Enter the price"))
if product_price>1000:
    print("The price of the product is {}".format(product_price*0.8))
else:
    print("The price of the product is {}".format(product_price*0.7))

Enter the price5000
The price of the product is 4000.0

In [52]:
## mall - input the product price
## product >3000 rs 20% off
## price is ==4000 you get a trip to Goa
## print the product price after removing the discount
## product >=2000 rs and <=3000 30% off
## print the product price after removing the discount
## price ==2999  u will get adiitional gift
## product 100 rs and <=2000 40% off
## print the product price after removing the discount

product_price=int(input("Enter the price"))
if product_price>3000:
    if product_price==4000:
        print("Congratulations you get a Goa Trip")
    print(f"The price of the product is {product_price*0.8}")
elif product_price>=2000 and product_price<=3000:
    if product_price==2999:
        print("Congratulations you get an additional gift")
    print(f"The price of the product is {product_price*0.7}")
elif product_price>=100 and product_price<2000:
    print(f"The price of the product is {product_price*0.6}")
else:
    print("Lets drink tea")
    print("I will also be there")

Enter the price4000
Congratulations you get a Goa Trip
The price of the product is 3200.0

In [53]:
## Single statement Suites
val=int(input('Enter the number'))
if(val<=999):print("Value is less than equal to 999")
else:
    print("Go Home")

Enter the number1000
Go Home

Loops

1. While Loop
2. For Loop
3. Nested Loops
4. Loop Control(break, continue, pass)