In [6]:
t = ()

In [7]:
type(t)

tuple

In [5]:
t1=(1,2,3,4,'arpan', 4j+6, 45.28)

In [8]:
type(t1)

tuple

In [11]:
l=[1,2,3,4]
type(l)

list

In [12]:
t1

(1, 2, 3, 4, 'arpan', (6+4j), 45.28)

In [13]:
t1[0]

1

In [15]:
t1[6]

45.28

In [16]:
t1[::-1]

(45.28, (6+4j), 'arpan', 4, 3, 2, 1)

In [17]:
# item re assignment operation

t1=t1[::-1]

In [18]:
t1

(45.28, (6+4j), 'arpan', 4, 3, 2, 1)

In [19]:
# slicing operation

t1[0:3]

(45.28, (6+4j), 'arpan')

In [20]:
t1.count(4)

1

In [21]:
t1.count('abc')

0

In [22]:
t1.index(1)

# system will store the value of True as 1. 
# So, if True will be there at first place in tuples the count(1) will be 0. 
# System will found 1 in first place.

6

In [23]:
t1.count(True)

# two time true. For 1 also another True is there.

1

In [24]:
t1

(45.28, (6+4j), 'arpan', 4, 3, 2, 1)

In [25]:
l

[1, 2, 3, 4]

In [26]:
t1[0]

45.28

In [28]:
l[0]

1

In [5]:
t1=(1,2,3,4,'arpan', 4j+6, 45.28)
l=[1,2,3,4]
l[0]=100

# Tuples are basically follows immutability concepts where it is not going to allow to change any element at a perticular indexes

In [21]:
t1[0]=345

TypeError: 'tuple' object does not support item assignment

In [6]:
l

[100, 2, 3, 4]

In [7]:
t1

(1, 2, 3, 4, 'arpan', (6+4j), 45.28)

In [13]:
for i in t1 :
    print(i, type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
arpan <class 'str'>
(6+4j) <class 'complex'>
45.28 <class 'float'>

In [14]:
t2=(1,2,3,4)

In [15]:
t2

(1, 2, 3, 4)

In [17]:
max(t2)

4

In [18]:
min(t2)

1

In [1]:
t1=(1,2,3,4)
t2 = (4,5,6,7,8)

In [2]:
t3=(t1, t2)

In [3]:
t3

((1, 2, 3, 4), (4, 5, 6, 7, 8))

In [4]:
t4=(t3, 4,2,5,8,9,10)

In [5]:
t4

(((1, 2, 3, 4), (4, 5, 6, 7, 8)), 4, 2, 5, 8, 9, 10)

In [6]:
del t4

In [7]:
t4

NameError: name 't4' is not defined

In [8]:
t1

(1, 2, 3, 4)

In [9]:
len (t1)

4

In [10]:
'Arpan' in t1

False

In [11]:
2 in t1

True